@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR";
}

a {
  color: inherit;
  text-decoration: none;
}

#container{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #e3e3e3 0%, #6b6b6b 100%);
}

.title{
    display: flex;
    flex-direction: row;
    width: 800px;
    
}
.album_title{
    font-size: 30px;
}

.prod{
    font-size: 20px;
}


.t1{
    font-size: 50px;
    text-align: right;
    width: 780px;
    line-height: 80px;
}

.t2{
    font-size: 50px;
    text-align: right;
    width: 780px;
    line-height: 80px;
}


#view{
    display: flex;
    width : 461px;
    height: 413px;
}

#player{
    display: flex;
    width: 300px;
    height: 413px;
    margin-left: 30px;
    margin-right: 30px;
}


.list{
    margin-left: 30px;
    margin-right: 30px;
    flex-shrink: 0;
    overflow: scroll;
    width: 470px;
    height: 413px;
}

.list .ui{
    width: 461px;
    height: 50px;
    background-color: gray;
    line-height: 50px;
    font-size: 20px;
}



#albums{
    display: flex;
}
.albums{
    margin-right : 15px;
}